<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Galería</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/gallery" routerLinkActive="active">Galería</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/favorites" routerLinkActive="active">Favoritos</a>
        </li>

        <!-- Dropdown de Categorías -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="categoriesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categorías
          </a>
          <ul class="dropdown-menu" aria-labelledby="categoriesDropdown">
            <li *ngFor="let item of categoriesList">
              <a class="dropdown-item" [routerLink]="'/category/' + item.toLowerCase()" routerLinkActive="active">{{item}}</a>
            </li>
            
          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>


<!-- Este es el espacio donde se renderizarán los componentes basados en las rutas -->
<div class="container mt-4 background">
  <router-outlet></router-outlet>
</div>
